In [1]:
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import time
import pandas as pd

In [2]:
news_url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

In [3]:
response = requests.get(news_url)

In [4]:
soup = bs(response.text, "html.parser")

In [5]:
news_title = soup.find("div", class_="content_title").text
print(news_title)

Opportunity Hunkers Down During Dust Storm

In [6]:
news_p = soup.find("div", class_="rollover_description_inner").text
print (news_p)

It's the beginning of the end for the planet-encircling dust storm on Mars. But it could still be weeks, or even months, before skies are clear enough for NASA's Opportunity rover to recharge its batteries and phone home.

In [7]:
executable_path = {'executable_path': "../../../Downloads/chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=False)

In [8]:
mars_image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(mars_image_url)
time.sleep(5)

In [9]:
browser.click_link_by_partial_text("FULL IMAGE")
time.sleep(5)

In [10]:
browser.click_link_by_partial_text("more info")

In [11]:
navigated_mars_image_url = browser.url

In [12]:
mars_response = requests.get(navigated_mars_image_url)
soup = bs(mars_response.text, "lxml")

results = soup.find("figure", class_ = "lede")
featured_image_url = f'https://www.jpl.nasa.gov/{results.a["href"]}'

print(featured_image_url)

https://www.jpl.nasa.gov//spaceimages/images/largesize/PIA19141_hires.jpg

In [13]:
mars_weather_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(mars_weather_url)
weather_html = browser.html
weather_soup = bs(weather_html, "lxml")
mars_weather = weather_soup.find("p", class_="tweet-text").text
print(mars_weather)

And finally - a stack of all the images - you can see so much detail here https://dougellison.smugmug.com/Machines/Space-X-SAOCOM-1A/i-zbJzq8L …pic.twitter.com/9nLwAH3oZQ

In [14]:
mars_facts_url = "http://space-facts.com/mars/"

In [15]:
table = pd.read_html(mars_facts_url)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [16]:
df_mars_facts = table[0]
df_mars_facts.columns = ["Parameter", "Values"]
df_mars_facts.set_index(["Parameter"])

                                             Values
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [17]:
mars_html_table = df_mars_facts.to_html()
mars_html_table.replace("\n", "")

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [18]:
usgs_base_url = "https://astrogeology.usgs.gov"

In [21]:
hemispheres_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

browser.visit(hemispheres_url)

browser.click_link_by_partial_text("Cerberus")
cerberus_html = browser.html
cerberus_soup = bs(cerberus_html, "lxml")
cerberus_results = cerberus_soup.find("img", class_="wide-image")["src"]
cerberus_url = usgs_base_url + cerberus_results
print (cerberus_url)

https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg

In [25]:
browser.visit(hemispheres_url)

browser.click_link_by_partial_text("Schiaparelli")
schiaparelli_html = browser.html
schiaparelli_soup = bs(schiaparelli_html, "lxml")
schiaparelli_results = schiaparelli_soup.find("img", class_="wide-image")["src"]
schiaparelli_url = usgs_base_url + schiaparelli_results
print (schiaparelli_url)

https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg

In [23]:
browser.visit(hemispheres_url)

browser.click_link_by_partial_text("Syrtis")
syrtis_html = browser.html
syrtis_soup = bs(syrtis_html, "lxml")
syrtis_results = syrtis_soup.find("img", class_="wide-image")["src"]
syrtis_url = usgs_base_url + syrtis_results
print (syrtis_url)

https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg

In [24]:
browser.visit(hemispheres_url)

browser.click_link_by_partial_text("Valles")
valles_html = browser.html
valles_soup = bs(valles_html, "lxml")
valles_results = valles_soup.find("img", class_="wide-image")["src"]
valles_url = usgs_base_url + valles_results
print (valles_url)

https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg